* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fffcf9; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 50px;
    padding: 0 40px;
}

.navbar-container img {
    height: 23px;
    width: 110px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.navbar-container ul{
   list-style: none;
   display: flex;
   gap: 20px;
   width: 55%;
}

.navbar-container ul a {
    text-decoration: none;
    color: #262626;
    font-size: 0.83rem;
    border-bottom: 2px solid transparent;
}

.navbar-container ul a:hover {
    border-color: black;
}

.microsoft {
    display: flex;
    align-items: center;
}

.microsoft p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 22px;
    color: #262626;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.microsoft p:hover {
    border-color: black;
}

.st-line {
    font-size: 1.4rem;
    font-weight: 600;
}

button {
    background-color: black;  
    color: white;
    border: none;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.search-icon {
    font-size: 1.1rem;
    font-weight: light;
    transform: rotateY(180deg);
    color: #262626;
    cursor: pointer;
}

.signin-icon {
    font-size: 1.3rem;
    color: #333333;
    cursor: pointer;
}